/**
 * index.scss
 * - Add any styles you want here!
 */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* main-header start */
[data-target="#mainMenu"] {
	position: relative;
	z-index: 999;
}

.main-header {
	font-family: "Ubuntu", sans-serif;
}

#mainMenu li > a {
	font-size: 12px;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 400;
	position: relative;
	z-index: 1;
	text-decoration: none;
}

.main-header.fixed-nav #mainMenu li > a {
	color: #fff;
	text-decoration: none;
}

#mainMenu li:not(:last-of-type) {
	margin-right: 30px;
}

#mainMenu li > a::before {
	position: absolute;
	content: "";
	width: calc(100% - 1px);
	height: 1px;
	background: #fff;
	bottom: -6px;
	left: 0;

	-webkit-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;
	z-index: -1;

	-webkit-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
}

.main-header.fixed-nav #mainMenu li > a::before {
	background: #000;
}

.main-header.fixed-nav {
	top: 0;
	background: #fff;
	-webkit-box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
	box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.09);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.main-header.fixed-nav .navbar-brand > img:last-of-type {
	display: block;
}

.main-header.fixed-nav .navbar-brand > img:first-of-type {
	display: none;
}
.navbar-brand {
	color: #fff;
}
.main-header .navbar-brand img {
	max-width: 40px;
	animation: fadeInLeft 0.4s both 0.4s;
}
.main-header #mainMenu li .dropdown-item::before {
	bottom: -1px;
}
.main-header #mainMenu li .dropdown-item:hover {
	background-color: inherit;
}

.main-header .btn {
	border: none;
	position: relative;
}
.main-header .btn::before {
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	content: "";
	width: 0%;
	height: 100%;
	border-radius: 25px;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
}
.main-header .btn .btn-text {
	color: white;
	mix-blend-mode: difference;
	letter-spacing: 1px;
}
.main-header .btn:hover::before {
	background: white;
	width: 100%;
}
/* main-header end */
@media (max-width: 991px) {
	/*header starts*/

	.main-header .navbar {
		float: none;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.main-header .navbar-nav li .nav-link {
		text-align: center;
		padding: 20px 15px;
		border-radius: 0px;
	}

	/*header ends*/
}
